.product {
    display: flex;
    flex-direction: column;
    width: clamp(180px, 18vw, 220px);
    margin: clamp(20px, 4vw, 40px);
    border: solid #afafaf 1px;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 3px 3px 20px -15px #000;

    .imageContainer {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 150px;
        padding: 5px 0;
        border-bottom: solid #afafaf 1px;
    }
    
    img {
        max-width: 50%;
        max-height: 90%;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }
    
    .title {
        margin-bottom: 7px;
    }

    .price {
        font-weight: 700;
    }
    
}

.bookmarkIcon {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media only screen and (max-width: 449px){
    .product {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 95%;
        margin: 12px 0;

        .imageContainer {
            min-width: 150px;
            margin-right: 20px;
            border-bottom: 0px;
        }
    
        img {
            width: 60%;
            height: auto;
        }
    }
}