.cartContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
}

.product {
    display: flex;
    width: 60%;
    margin: 1%;
    padding: 15px;
    border: solid #000 1px;
    border-radius: 6px;
    font-size: 18px;
    box-shadow: 10px 10px 20px -15px #000;
}

.productImage {
    width: 130px;
    height: 130px;
}

.productInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 30px;
}

.productTitle {
    font-weight: 700;
}

.buttonsWrapper {
    display: flex;
}

.cartContainer button {
    border-radius: 6px;
    color: #000;
    background-color: #fff;
    font-size: 20px;
}

.buttonsWrapper button {
    margin-right: 15px;
    height: 30px;
    width: 30px;
}

.buttonRemove {
    border: solid red 2px;
}

.buttonAdd {
    border: solid green 2px;
}

.buttonRemove:hover,
.clearCart:hover {
    background-color: red;
    color: #fff;
}

.buttonAdd:hover {
    background-color: green;
    color: #fff;
}

.clearCart {
    border: solid red 2px;
    font-weight: 700;
    padding: 5px 10px;
}

.goBack {
    cursor: pointer;
    text-decoration: underline;
    color: purple;
}