.cartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px 0;
}

.summary {
    display: flex;
    flex-direction: column;
    margin: 0 40px;
    padding: 10px 20px;
    border: solid #afafaf 1px;
    border-radius: 4px;
    
    .text {
        font-weight: 700;
        font-size: clamp(15px, 3vw, 18px);
    }
    
    button {
        max-width: 200px;
        margin-top: 20px;
        border-radius: 6px;
        font-size: clamp(15px, 3vw, 18px);
        color: #000;
        background-color: #fff;
    }

    .checkout:hover {
        background-color: green;
        color: white;
    }

    .clearCart:hover {
        background-color: red;
        color: white;
    }

    @media only screen and (max-width: 1120px){       
        min-width: 90%;
        margin-top: 20px;
    }
}

.isEmpty {
    margin: 30px 0;
    text-align: center;
}

.goBack {
    cursor: pointer;
    color: #2727f0;
    
    &:hover {
        text-decoration: underline;
        color: #2727f0;
    }
}
