.cartContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0;
}

.summary {
    display: flex;
    flex-direction: column;
    min-width: 250px;
    margin: 0 40px;
    padding: 10px 20px;
    border: solid #afafaf 1px;
    border-radius: 4px;
    
    .text {
        font-weight: 700;
        font-size: clamp(15px, 3vw, 18px);
    }
    
    .checkout {
        max-width: 200px;
        margin-top: 20px;
        border: none;
        font-size: clamp(14px, 3vw, 17px);
        background-color: #25a569;
        color: #fff;

        &:hover {
            background-color: #146C43;
        }
    }

    @media only screen and (max-width: 1120px){       
        min-width: 90%;
        margin-top: 20px;
    }
}

.arrowLeft {
    position: absolute;
    top: 90px;
    left: 5%;
    font-size: 24px;
}

.isEmpty {
    margin: 30px 0;
    text-align: center;
}

.goBack {
    cursor: pointer;
    color: #2727f0;
    
    &:hover {
        text-decoration: underline;
        color: #2727f0;
    }
}
