.productsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 5%;
}

.dropdown {
    width: 110px;
    margin: 20px auto 0 auto;
    
    // .button {
    //     border: solid #afafaf 1px;
    //     background-color: #fff;
    //     color: #000;
    //     width: 100%;
        
    //     &:hover,
    //     &:focus {
    //         outline: none;
    //         border: solid #000 1px;
    //         background-color: #000;
    //         color: #fff;
    //     }
    // }
}

.fillEmptySpaces {
    width: clamp(140px, 18vw, 220px);
    height:0;
    margin: clamp(20px, 4vw, 40px);
    padding: 10px;
}