.productsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 5%;
}

.dropdown {
    width: 110px;
    margin-top: 20px;
    margin-left: 9%;

    a:active {
        background-color: #E9ECEF;
        color: #000;
    }
}

.oldButton {
    padding: 0;
    border: none;
    border-radius: 7px;

    &:focus {
        box-shadow: none;
    }
    
    .customButton {
        width: 110px;
        background-color: white;

        &:hover {
            color: #fff;
            background-color: #1d1d1d;
        }
    }
}

.fillEmptySpaces {
    width: clamp(140px, 18vw, 220px);
    height:0;
    margin: clamp(20px, 4vw, 40px);
    padding: 10px;
}