.productsContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 15px 5%;
}

.categoryButtons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px auto 0 auto;
}

.categoryButtons button {
    margin: 10px;
    padding: 5px 10px;
    border: #000 solid 2px;
    border-radius: 5px;
    background-color: #fff;
    font-size: clamp(15px, 3vw, 18px);
}

.categoryButtons button:hover {
    color: #fff;
    background-color: #292929;
}

.fillEmptySpaces {
    width: clamp(140px, 18vw, 200px);
    height:0;
    margin: clamp(20px, 4vw, 40px);
    padding: 10px;
}