.product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;    
    img {
        width: clamp(160px, 18vw, 300px);
        height: auto;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin-left: 60px;
        padding-left: 60px;
        border-left: solid #313131 1px;
        font-size: clamp(12px, 2vw, 16px);
    }
    
    .title {
        font-weight: 700;
        font-size: clamp(15px, 3vw, 20px);
        margin-bottom: 15px;
    }
    
    .price {
        font-weight: 700;
        font-size: clamp(15px, 3vw, 20px);
        margin-top: 10px;
    }
    
    .buttonsWrapper {
        display: flex;
    }
    
    .buttonsWrapper button {
        padding: 8px 13px;
        margin: 10px 10px 0 0;
        border-radius: 5px;
        background-color: #fff;
        font-size: clamp(12px, 2vw, 16px);
    }
    
    .buttonsWrapper button:hover {
        color: #fff;
        background-color: #1d1d1d;
    }
}


@media only screen and (max-width: 580px){
    .product {
        flex-direction: column;
        
        .text {
            margin: 20px 30px;
            padding: 0px;
            border-left: none;
        }
    }

}