.product {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    img {
        width: clamp(160px, 18vw, 300px);
        height: auto;
    }
    
    .text {
        display: flex;
        flex-direction: column;
        max-width: 500px;
        margin-left: 60px;
        padding-left: 60px;
        border-left: solid #313131 1px;
        font-size: clamp(12px, 2vw, 16px);
    }
    
    .title {
        font-weight: 700;
        font-size: clamp(15px, 3vw, 20px);
        margin-bottom: 15px;
    }
        
    .priceAndButton {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        
        .price {
            font-weight: 700;
            font-size: clamp(15px, 3vw, 20px);
        }

        button {
            padding: 0 12px;
            border: none;
            border-radius: 5px;
            background-color: #000;
            color: #fff;
            font-size: clamp(12px, 2vw, 16px);
        }
    }
}

.arrowLeft {
    position: absolute;
    top: 90px;
    left: 5%;
    font-size: 24px;
}

@media only screen and (max-width: 580px){
    .product {
        flex-direction: column;
        height: 100%;
        margin-top: 10%;

        .text {
            margin: 20px 30px;
            padding: 0px;
            border-left: none;
        }
    }

}