.cartButton {
    padding: 10px 15px;
    border: none;
    font-size: clamp(14px, 3vw, 16px);
    background-color: #25a569;
    color: #fff;

    &:hover,
    &:focus {
        background-color: #146C43;
    }

    .cartIcon {
        font-size: clamp(12px, 3vw, 14px);
        margin-right: 8px;
    }
}

.dropdownMenu {
    right: 0;
    width: clamp(260px, 40vw, 400px);
    padding: 10px 15px;
    border: solid #afafaf 1px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
    background-color: #fff;

    h2 {
        font-size: 20px;
        text-align: center;
    }
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    .text {
        display: flex;
        flex-direction: column;
        max-width: 80%;
        font-size: clamp(13px, 2vw, 15px);
    }
    
    .price {
        margin-top: 5px;
        font-size: clamp(10px, 2vw, 14px);
        font-weight: 700;
    }
    
    .trash:hover {
        cursor: pointer;
        color: rgb(255, 87, 87);
    }
}

.goToCart {
    &:hover {
        background-color: #fff;
    }
    
    a {
        display: flex;
        justify-content: center;
        padding: 8px 0;
        border-radius: 4px;
        font-weight: 700;
        color: #fff;
        background-color: #25a569;
    
        &:hover {
            background-color: #146C43;
            color: #fff;
        }
    }
}