.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 60px;
    width: 90%;
    padding: 5px 5%;
    box-shadow: 0 0 5px 0 #000000;
    background-color: #fff;

    .contacts {
        margin-left: auto;
        margin-right: 20px;
    }
    
    .contacts a {
        font-size: 20px;
        margin: 10px;
    }
    
    .cartButton {
        padding: 10px 15px;
        border: none;
        border-radius: 6px;
        font-size: clamp(13px, 3vw, 16px);
        background-color: green;
        color: #fff;
    }
    
    @media only screen and (max-width: 580px){
        .contacts {
            display: none;
        }
    }
}
