.header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    height: 70px;
    width: 90%;
    padding: 5px 5%;
    box-shadow: 0 0 5px 0 #000000;
    background-color: #fff;

    .contacts {
        margin-left: auto;
        margin-right: 20px;
    }
    
    .contacts a {
        font-size: 20px;
        margin: 10px;
    }
    
    
    @media only screen and (max-width: 580px){
        .contacts {
            display: none;
        }
    }
}


.dropdown {
    position: relative;

    .cartButton {
        padding: 10px 15px;
        border: none;
        border-radius: 6px;
        font-size: clamp(13px, 3vw, 16px);
        background-color: #00ac00;
        color: #fff;

        &:hover,
        &:focus {
            background-color: #007c00;
        }
    }

    .dropdownMenu {
        position: absolute;
        right: 0;
        width: 400px;
        padding: 10px 15px;
        border: solid #afafaf 1px;
        border-radius: 4px;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .1);
        background-color: #fff;
        display: none;
        opacity: 0;
        transform: translateY(-10px);
        transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
    }

    &:hover .dropdownMenu {
        display: block;
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
    }

    .goToCart {
        display: flex;
        justify-content: center;
        padding: 8px 0;
        border-radius: 5px;
        font-weight: 700;
        background-color: #00ac00;
        color: #fff;

        &:hover {
            background-color: #009700;
        }
    }
}

.product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    
    .text {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        font-size: clamp(11px, 2vw, 15px);
    }

    .price {
        margin-top: 5px;
        font-size: clamp(10px, 2vw, 14px);
        font-weight: 700;
    }

    .trash:hover {
        cursor: pointer;
        color: rgb(255, 87, 87);
    }
}