.product {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 1% 3%;
    padding: 0 10px;
    border: solid #000 1px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 10px 10px 20px -15px #000;
}

.productImage {
    margin: 15px auto;
    height: 130px;
    width: 130px;
}

.productTitle {
    font-weight: 700;
}

.productButton {
    border-radius: 5px;
    margin: 5px 20%;
    padding: 5px;
    color: #fff;
    background-color: green;
    font-weight: 700;
}

.productButton:hover {
    color: #fff;
    background-color: green;
}