.product {
    display: flex;
    flex-direction: column;
    width: clamp(140px, 18vw, 200px);
    margin: clamp(20px, 4vw, 40px);
    padding: 10px;
    border: solid #000 1px;
    border-radius: 6px;
    font-size: 14px;
    box-shadow: 10px 10px 20px -20px #000;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
}

.productImage {
    width: 50%;
    height: auto;
}

.productTitle {
    font-weight: 700;
}