@import "~bootstrap/scss/bootstrap";

html {
    overflow-y: scroll;
}
  
@supports (scrollbar-gutter: stable) {
    html {
      	overflow-y: auto;
      	scrollbar-gutter: stable;
    }
}
  
@supports (overflow-y: overlay) {
    html {
      	overflow-y: overlay;
      	scrollbar-gutter: auto;
    }
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

a, a:hover {
    text-decoration: none;
    color: black;
}

button {
    cursor: pointer;
    outline: none;
    border: #000 solid 2px;
    border-radius: 4px;
    background-color: #fff;
}

.content {
    padding-top: 90px;
}