body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', serif;
}

.productsContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
}

.content {
    padding-top: 60px;
}